<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>C690BDCE-5453-4D64-BE4B-187BA68D2006</string>
			<string>235509AD-9C04-44FB-8800-C3C22D3FD7C4</string>
			<string>12D2EF82-131E-4BC0-AC91-728CDDFC5397</string>
			<string>------------------------------------</string>
			<string>F9B0773B-A18D-4315-93B8-4327A706607B</string>
			<string>E2C726D7-58B0-4AB4-9DBE-F37A5FA67073</string>
			<string>FBA20FD9-3656-41D2-828B-270467EFD01C</string>
			<string>6BA67CE4-2F62-4800-9D67-17826B83F1DA</string>
		</array>
		<key>submenus</key>
		<dict/>
	</dict>
	<key>name</key>
	<string>Seeing Is Believing</string>
	<key>ordering</key>
	<array>
		<string>C690BDCE-5453-4D64-BE4B-187BA68D2006</string>
		<string>235509AD-9C04-44FB-8800-C3C22D3FD7C4</string>
		<string>12D2EF82-131E-4BC0-AC91-728CDDFC5397</string>
		<string>F9B0773B-A18D-4315-93B8-4327A706607B</string>
		<string>FBA20FD9-3656-41D2-828B-270467EFD01C</string>
		<string>E2C726D7-58B0-4AB4-9DBE-F37A5FA67073</string>
		<string>6BA67CE4-2F62-4800-9D67-17826B83F1DA</string>
	</array>
	<key>uuid</key>
	<string>B848701E-45DC-4D2F-A0F0-88C2D3C1364A</string>
</dict>
</plist>
